.col-carta{
    height: 25vh;
    width: 100%;
    background-color: black;
    color: white;
    border-bottom: 2px solid black;
}

.col-titulos{
    color: white;
    background-color: rgb(34, 34, 34);
    height: 10vh;
}

.card-image {
    height: 30vh;
    background-position: center;
    background-size: cover;
}

#card1{
    background-image: url(../img/Jerez.jpg)
}
#card2{
    background-image: url(../img/americas.jpeg)
}
#card3{
    background-image: url(../img/misano.jpg)
}
#card4{
    background-image: url(../img/le\ mans.jpg)
}
#card5{
    background-image: url(../img/carne\ fondo.jpg)
}
#card6{
    background-image: url(../img/plato1.jpg)
}
#card7{
    background-image: url(../img/marisco.png)
}
#card8{
    background-image: url(../img/carne1.png)
}
#card9{
    background-image: url(../img/cerveza.jpg)
}
#card10{
    background-image: url(../img/refresco.jpg)
}
#card11{
    background-image: url(../img/agua.jpg)
}
#card12{
    background-image: url(../img/carne2.png)
}