body{
    font-family: Courier;
    background-color: blanchedalmond;
}

/* Navbar  */
.navbar-1{
    background-color: black;
}

.logo-navbar{
    height: 50px;
}
/* Navbar  */

/* Container principal */
.container-principal{
    background-color: rgba(43,48,53,255);
}
/* Container principal  */