/* Container Inicio */
.fondo-container{
    background-color: rgba(43,48,53,255);
}

/* Logo central */
.col-cont-prin{
    height: 100vh;
}

.logo-menu{
    display: flex;
    justify-content: center;   
    align-items: center;
    width:60vw;
    height: 40vh;
}

.foto-logo{
    height: 100%;
    border-radius: 100%;
}
/* Container Inicio */

/* Container historia  */

/* Col historia */

.col-hist{
    background-color: rgb(85, 85, 85);
    height: 40vh;
    color: rgb(255, 255, 255);
}

/* Container historia  */

/* container-menucarta */
.container-menucarta{
    background-color: grey;
}

.col1-txtmenu{
    color:white;
    height: 15vh;
}

.col1-txtmenu2{
    color:white;
    height: 30vh;
}

.link-web{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
/* container-menu/carta */

/* container contacto */
.container-contacto{
    color: rgb(255, 255, 255);
    height: 80vh;
    background-color: rgb(53, 53, 53);
}

.row1-contc{
    padding-top: 80px;
    height: 40%;
}

/* mapa */
.col-map{
    height: 40vh;
}

#map{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.row2-contc{
    height: 50%;
}
/* container contacto */