body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../Restaurante/imagen/fondo3.jpg);
    background-size: cover;
    background-position: center;
}

.menu{
    list-style: none;
    padding: 0;
    background-image: url(../Restaurante/imagen/fondo4.jpg);
    background-size: cover;
    background-position: center;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    position: relative;
    justify-content: space-around;
    border-radius: 50px;
    font-family: Brush Script MT;
    font-size: 190%;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
    width: 40%;
}

.menu  li a:hover{
    background: #636363;
    border-radius: 50px;
}

.container{
    top: 10px;
    width: 90%;
    max-width: 1700px;
    height: 850px;
    display: flex;
    position: relative;
    margin: auto;
    justify-content: center;
    font-family: Brush Script MT;
}


.fondo1{
    background-image: url(../Restaurante/imagen/fondo.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1700px;
    height: 150px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-family: Brush Script MT;
    top: 0px;
    border-radius: 10px;
    font-size: 3cm;
}

.horario{
    background-image: url(../Restaurante/imagen/fondo4.jpg);
    background-size: cover;
    background-position: center;
    width: 700px;
    height: 600px;
    position: absolute;
    display: flex;
    top: 200px;
    left: 0px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: beige;
    border-radius: 30px 100px;  
}

.info{
    width: 1000px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    position: absolute;
    top: 150px;
    right: 0px;
    font-family: Brush Script MT;
    justify-content: center;
    flex-direction: column;
}

.interior2{
    background-image: url(../Restaurante/imagen/interior.jpg);
    background-size: cover;
    background-position: center;
    width: 800px;
    height: 400px;
    top: 430px;
    right: 100px;
    display: flex;
    position: absolute;
    border-radius: 10px;
}